@media (min-width: 320px) {
    .nomePrincipal {
        font-size: 2.5em;
    }

    .container {
        width: 100%;
    }

    .res {
        width: 80%;
    }

    .menu {
        width: 75%;
    }

    .menu img {
        width: 70px;
    }

    .menu p {
        font-size: 1.8em;
    }
}

@media (min-width: 768px) {
    .nomePrincipal {
        font-size: 3em;
    }

    .container {
        width: 90%;
    }

    .res {
        width: 55%;
    }

    .menu {
        width: 59%;
    }

    .menu img {
        width: 90px;
    }

    .menu p {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    .container {
        width: 75%;
    }

    .nomePrincipal {
        font-size: 3em;
    }

    .res {
        width: 40%;
    }

    .menu {
        width: 40%;
    }

    .menu img {
        width: 100px;
    }

    .menu p {
        font-size: 2em;
    }
}